services:
  - type: web
    name: cita-checker
    env: docker
    plan: free
    dockerContext: .
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
